[data-module="wallet-card"] {
	display: inline-block;

	.wallet-card {
		width: 400px;
		padding: 10px;

		&-select-type {
			width: 250px;
		}

		&-block {
			min-height: 150px;

			& > div {
				height: 100%;
				border-radius: 5px;
				padding: 5px;
			}

			&-header {
				display: flex;
				justify-content: space-between;
				margin: 0 10px;

				&-actions {
					button:focus {
						outline: unset;
					}
				}
			}

			.credit {
				background: #4d94ff;

				.wallet-card-block-type::after {
					content: 'Credit';
				}
			}

			.debit {
				background: #bcbdbf;

				.wallet-card-block-type::after {
					content: 'Debit';
				}
			}

			&-type {
				&::after {
					color: white;
				}
			}

			&-wallet {
				&-name, &-amount {
					width: 80%;
					margin: 65px 10px 0;
				}
			}

			&-info {
				display: flex;
				justify-content: space-between;
				margin-top: 40px;
				padding: 10px ;
			}

			.input-block {
				display: flex;

				button {
					margin-left: 10px;
				}
			}
		}

		&-add-wallet-btn, &-save-wallet-btn {
			margin-top: 10px;
		}

		.edit-wallet-data {
			cursor: pointer;
		}
	}
}
