.hidden{
    display: none !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    max-width: 800px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tables {
    display: flex;
    justify-content: space-around;
}

.pagination {
    display: flex;
    justify-content: space-between;
}